body {
    background: #ddd;
}

#container {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    background: white;
    overflow: hidden;
    .head {
        height: 300px;
        width: 110%;
        background: #5694c3;
        transform-origin: left top;
        transform: rotate(5deg) translateY(-110px);
        .transform{
            display:flex;
            transform-origin: left top;
            transform: translateY(135px) rotate(-5deg)
        }
        .head-left{
            width:55%;
            height:150px;
            background: rgba(0,0,0,0.3);
            
        }
        .line{
            border:2px solid #ddd;
        }
        .head-right{
            display:flex;
            width:45%;
            height:200px;
            background: rgba(0,0,0,0.3);
        }
    }
    #section1{
        width:60%;
        min-height:300px;
        background:rgba(0,0,0,0.3);
        margin-right:5%;
        .section{
            width:100%;
            word-wrap: break-word;
        }
        .title{
            height: 30px;
            line-height: 30px;
            width:25%;
            color:#fff;
            background:#5694c3;
        }
    }
    #section2{
        float:right;
        width:30%;
        min-height:300px;
        background:rgba(0,0,0,0.3);
        margin-left:5%;
        .section{
            border-bottom:2px dashed darkgray;
        }
    }
}