body {
  background: #ddd;
}
#container {
  width: 1200px;
  margin: 0 auto;
  background: white;
  overflow: hidden;
}
#container .head {
  height: 300px;
  width: 110%;
  background: #5694c3;
  overflow: hidden;
  transform-origin: left top;
  transform: rotate(5deg) translateY(-110px);
}
#container .head .transform {
  display: flex;
  transform-origin: left top;
  transform: translateY(135px) rotate(-5deg);
}
#container .head .head-left {
  width: 55%;
  height: 150px;
}
#container .head .head-left p {
  margin: 40px;
  color: white;
}
#container .head .line {
  border: 2px solid #ddd;
}
#container .head .head-right {
  display: flex;
  width: 45%;
  height: 200px;
}
#container .head .head-right .left-name {
  margin-left: 60px;
  margin-top: 25px;
  color: white;
}
#container .head .head-right .right-img {
  margin-left: 40px;
}
#container #section1 {
  width: 60%;
  min-height: 300px;
  margin-right: 5%;
}
#container #section1 .section {
  width: 80%;
  word-wrap: break-word;
  margin-left: 10%;
  margin-top: 20px;
  opacity: 0.7;
  line-height: 30px;
}
#container #section1 .section p {
  margin-top: 5px;
}
#container #section1 .section h3 {
  margin-top: 5px;
}
#container #section1 .title {
  height: 30px;
  line-height: 30px;
  width: 25%;
  color: #fff;
  background: #5694c3;
  padding-left: 30px;
  margin-top: 20px;
}
#container #section2 {
  float: right;
  width: 30%;
  min-height: 300px;
  margin-left: 5%;
}
#container #section2 .title {
  margin-top: 20px;
}
#container #section2 .section {
  margin-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 2px dashed darkgray;
}
#container #footer-canvas {
  position: relative;
  bottom: -4px;
}
