#header,
#section1,
#section2 {
  height: 100vh;
}
.container-fluid {
  padding: 0 !important;
}
#header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: url('../../assets/img/header-bg.jpg');
  background-size: cover;
}
#header .header-info {
  height: 200px;
  width: 100vw;
  color: white;
  overflow: hidden;
}
#header .header-info .title {
  font-size: 4em;
  font-weight: 700;
}
#section1 {
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .section1-info {
  height: 400px;
  color: #ffffff;
}
#section1 .section1-info h1 {
  font-size: 3.5em;
}
#section1 .section1-info p {
  font-size: 1.3em;
  margin: 2vh 0;
}
#section1 .section1-info a {
  color: lightgray;
  font-size: 1.1em;
  font-weight: bold;
}
#section2 {
  background: rgba(0, 0, 0, 0.88);
  display: flex;
  justify-content: center;
  align-items: center;
}
#section2 .section2-info {
  width: 100%;
}
#section2 .section2-info .el-carousel__container {
  height: 45vh !important;
}
#section2 .section2-info .el-carousel__item {
  height: 100%;
}
#section2 .section2-info .el-carousel__item img {
  width: 100%;
  height: 100%;
}
#section2 .section2-info .el-carousel__item .listInfo {
  color: #fff;
}
#section2 .section2-info .el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}
#section2 .section2-info .el-carousel__item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.9);
}
#section2 .section2-info .el-carousel__item:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.89);
}
.clickto {
  background: gray;
  position: fixed;
  top: 10vh;
  right: -80px;
  color: lightgray;
  transition: all 0.3s linear;
}
.clickto ul {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 90px;
}
.clickto ul li {
  text-align: center;
  line-height: 30px;
}
.clickto:hover {
  right: 0vw;
}
